.link{
    
}

.navButton {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  padding: 0;
  margin: 0;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}